@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-weight: 400;
    font-size: 22px;
    background-color: #305973;
}
label:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

@keyframes movimientoMascotas{
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.02);
    }
    50% {
      transform: scale(1);
    }
    75% {
        transform: scale(0.98);
      }
    100% {
      transform: scale(1);
    }
  }

#seleccionar-mascota{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#isologo{
    max-width: 120px;
    position: fixed;
    top: 32px;
    left: 32px; 
}
#seleccionar-mascota .titulo{
    text-align: center;
    font-family: bungee shade;
    font-size: 64px;
    color: rgba(222, 213, 196, 1);
    padding: 13px 0;
}

#seleccionar-mascota .seleccionar-mascota-article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 51px 130px;
    background-color: rgba(239, 126, 86, 1);
    border-radius: 15px;
    -webkit-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
}
#seleccionar-mascota .seleccionar-mascota-article #boton-mascota{
    padding: 0px 26px;
    font-family: bungee;
    font-size: 19px;
    background-color: rgba(48, 89, 115, 1);
    color: rgba(239, 126, 86, 1);
    border: none;
    border-radius: 15px;
    transition: .3s;
}
#seleccionar-mascota .seleccionar-mascota-article #boton-mascota:hover{
    color: rgba(48, 89, 115, 1);
    background-color:   rgba(222, 213, 196, 1);
}

#seleccionar-mascota .seleccionar-mascota-article .subtitulo{
    font-family: bungee;
    font-size: 32px;
    color: rgba(222, 213, 196, 1);
    padding-bottom: 51px;
}

#seleccionar-mascota .seleccionar-mascota-article .div-mascotas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 164px;
    padding-bottom: 32px;
}
#seleccionar-mascota .seleccionar-mascota-article .div-mascotas .div-mascota{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

#seleccionar-mascota .seleccionar-mascota-article .div-mascotas .div-mascota input{
    display: none;
}


#seleccionar-mascota .seleccionar-mascota-article .div-mascotas .div-mascota label{
    font-family: bungee;
    font-size: 26.4px;
    color: rgba(251, 251, 251, 1);
}

#mascota-img{
    height: 240px;
    width: 240px;
    animation: movimientoMascotas 1s linear infinite;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   */

#seleccionar-ataque{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#seleccionar-ataque .titulo{
    text-align: center;
    font-family: bungee shade;
    font-size: 64px;
    color: rgba(222, 213, 196, 1);
    padding: 13px 0;
}
#seleccionar-ataque .seleccionar-ataque-article{
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}


#seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 32px 260px;
    background-color: rgba(239, 126, 86, 1);
    border-radius: 15px;
    -webkit-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
}
#seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up #resultado-final .mensaje-final{
    font-family: 'Bungee';
    font-weight: 400;
    font-size: 48px;
    color: #305973;
}




#seleccionar-ataque .seleccionar-ataque-article #boton-fuego{
    padding: 0px 26px;
    font-family: bungee;
    font-size: 19px;
    background-color: rgba(48, 89, 115, 1);
    color: rgba(222, 213, 196, 1);
    border: none;
    border-radius: 15px;
    transition: .3s;
}
#seleccionar-ataque .seleccionar-ataque-article #boton-fuego:hover{
    color: rgba(48, 89, 115, 1);
    background-color:   rgba(222, 213, 196, 1);
}

#seleccionar-ataque .seleccionar-ataque-article #boton-agua{
    padding: 0px 26px;
    font-family: bungee;
    font-size: 19px;
    background-color: rgba(48, 89, 115, 1);
    color: rgba(222, 213, 196, 1);
    border: none;
    border-radius: 15px;
    transition: .3s;
}
#seleccionar-ataque .seleccionar-ataque-article #boton-agua:hover{
    color: rgba(48, 89, 115, 1);
    background-color:   rgba(222, 213, 196, 1);
}

#seleccionar-ataque .seleccionar-ataque-article #boton-tierra{
    padding: 0px 26px;
    font-family: bungee;
    font-size: 19px;
    background-color: rgba(48, 89, 115, 1);
    color: rgba(222, 213, 196, 1);
    border: none;
    border-radius: 15px;
    transition: .3s;
}
#seleccionar-ataque .seleccionar-ataque-article #boton-tierra:hover{
    color: rgba(48, 89, 115, 1);
    background-color:   rgba(222, 213, 196, 1);
}
#seleccionar-ataque .seleccionar-ataque-article .subtitulo{
    font-family: bungee;
    font-size: 32px;
    color: rgba(222, 213, 196, 1);
    padding-top: 0;
    padding-bottom: 32px;
}
#seleccionar-ataque .seleccionar-ataque-article .div-ataque{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
#seleccionar-ataque .seleccionar-ataque-article .div-ataque p{
    font-family: bungee;
    font-size: 16px;
    color: rgba(222, 213, 196, 1);
    padding: 8px;
}
#seleccionar-ataque .seleccionar-ataque-article .div-ataque p span{
    color: rgba(48, 89, 115, 1);
}
#seleccionar-ataque .seleccionar-ataque-article .botones-ataque{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    padding-top: 0;
    padding-bottom: 32px;
}

#boton-reiniciar{
    border: none;
    border-radius: 15px;
    padding: 0px 32px;
    font-family: bungee;
    font-size: 24px;
    color: #305973;
    background-color: rgba(222, 213, 196, 1);
}
#boton-reiniciar:hover{
    color: rgba(48, 89, 115, 1);
}
#seleccionar-ataque .paneles-ataque{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
#seleccionar-ataque .paneles-ataque .div-ataque-jugador{
    width: 420px;
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(239, 126, 86, 1);
    border-radius: 15px;
    -webkit-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
}
#seleccionar-ataque .paneles-ataque .div-ataque-jugador .vidas-jugador{
    color: rgba(222, 213, 196, 1);
    font-family: bungee;
    font-size: 64px;
    text-align: center;
}
#seleccionar-ataque .paneles-ataque .div-ataque-jugador .nombre-mascota-jugador{
    color: rgba(222, 213, 196, 1);
    font-family: bungee;
    font-size: 36px;
    text-align: center;
}
#seleccionar-ataque .paneles-ataque .div-ataque-jugador .resultado-jugador{
    color: rgba(222, 213, 196, 1);
    font-family: bungee;
    font-size: 32px;
    text-align: center;
}
#seleccionar-ataque .paneles-ataque .versus{
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: rgba(251, 251, 251, 1);
    font-family: bungee;
    font-size: 110px;
}

#seleccionar-ataque .paneles-ataque .div-ataque-enemigo{
    width: 420px;
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(222, 213, 196, 1);
    border-radius: 15px;
    -webkit-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
    box-shadow: -2px 6px 18px 0px rgba(0,0,0,0.66);
}
#seleccionar-ataque .paneles-ataque .div-ataque-enemigo .vidas-enemigo{
    color: rgba(131, 155, 171, 1);
    font-family: bungee;
    font-size: 64px;
    text-align: center;
}
#seleccionar-ataque .paneles-ataque .div-ataque-enemigo .nombre-mascota-enemigo{
    color: rgba(131, 155, 171, 1);
    font-family: bungee;
    font-size: 36px;
    text-align: center;
}
#seleccionar-ataque .paneles-ataque .div-ataque-enemigo .resultado-enemigo{
    color: rgba(131, 155, 171, 1);
    font-family: bungee;
    font-size: 32px;
    text-align: center;
}

/* Media Queris de seleccionar mascota */
@media(max-width: 1200px){
    #seleccionar-mascota .presentacion{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
    }
    #isologo{
        max-width: 90px;
        position: static;
    }
    #seleccionar-mascota .titulo{
        font-size: 54px;
    }
    #seleccionar-mascota .seleccionar-mascota-article{
        padding: 32px 64px;
    }
    #seleccionar-mascota .seleccionar-mascota-article #boton-mascota{
        color:rgba(222, 213, 196, 1);
    }
    #seleccionar-mascota .seleccionar-mascota-article .subtitulo{
        font-size: 28px;
    }
    
    #seleccionar-mascota .seleccionar-mascota-article .div-mascotas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        padding-bottom: 32px;
    }
    #seleccionar-mascota .seleccionar-mascota-article .div-mascotas .div-mascota label{
        font-size: 22px;
    }
    #mascota-img{
        height: 200px;
        width: 200px;
    }
}
@media(max-width: 768px){
    #seleccionar-mascota .presentacion{
        gap: 32px;
    }
    #isologo{
        max-width: 90px;
        position: static;
    }
    #seleccionar-mascota .titulo{
        font-size: 48px;
    }
    #seleccionar-mascota .seleccionar-mascota-article{
        padding: 16px 32px;
    }
    #seleccionar-mascota .seleccionar-mascota-article .subtitulo{
        font-size: 26px;
    }
    
    #seleccionar-mascota .seleccionar-mascota-article .div-mascotas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        padding-bottom: 16px;
    }
    #seleccionar-mascota .seleccionar-mascota-article .div-mascotas .div-mascota label{
        font-size: 20px;
    }
    #mascota-img{
        height: 170px;
        width: 170px;
    }
}
@media(max-width: 576px){
    #seleccionar-mascota .presentacion{
        gap: 0;
    }
    #isologo{
        display: none;
    }
    #seleccionar-mascota .titulo{
        margin: 0;
        text-align: center;
        padding: 0;
        font-size: 36px;
    }
    #seleccionar-mascota .seleccionar-mascota-article{
        padding: 8px 16px;
    }
    #seleccionar-mascota .seleccionar-mascota-article .subtitulo{
        font-size: 20px;
    }
    #seleccionar-mascota .seleccionar-mascota-article #boton-mascota{
        font-size: 16px;
    }
    
    #seleccionar-mascota .seleccionar-mascota-article .div-mascotas{
        padding-bottom: 12px;
    }
    #seleccionar-mascota .seleccionar-mascota-article .div-mascotas .div-mascota label{
        font-size: 16px;
    }
    #mascota-img{
        height: 150px;
        width: 150px;
    }
}
/*Media Queries de Seleccionar Ataque */

@media(max-width: 1200px){
    #seleccionar-ataque .presentacion{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 32px;

    }
    #seleccionar-ataque .titulo{
        font-size: 64px;
        color: rgba(222, 213, 196, 1);
        padding: 0;
    }
        
    #seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up{
        margin: 0 auto;
        width: 764px;
        padding: 16px 32px;
        
    }
    #seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up #resultado-final .mensaje-final{
        font-size: 42px;
    }
    #seleccionar-ataque .seleccionar-ataque-article #boton-fuego{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article #boton-agua{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article #boton-tierra{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article .subtitulo{
        font-size: 28px;
        padding-top: 0;
        padding-bottom: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article .botones-ataque{
        gap: 64px;
        padding-top: 0;
        padding-bottom: 32px;
    }
    #boton-reiniciar{
        padding: 0px 16px;
        font-size: 18px;
    }
    #seleccionar-ataque .paneles-ataque{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador{
        width: 320px;
        padding: 16px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .vidas-jugador{
        font-size: 64px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .nombre-mascota-jugador{
        font-size: 26px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .resultado-jugador{
        font-size: 20px;
    }
    #seleccionar-ataque .paneles-ataque .versus{
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }
    
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo{
        width: 320px;
        padding: 16px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .vidas-enemigo{
        font-size: 64px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .nombre-mascota-enemigo{
        font-size: 26px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .resultado-enemigo{
        font-size: 20px;
    }
    
}
@media(max-width: 768px){
    #seleccionar-ataque .presentacion{
        gap: 0;
    }
    #seleccionar-ataque .titulo{
        font-size: 54px;
    }
    #seleccionar-ataque #isologo{
        display: none;
    }
    #seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up{
        margin: 0 auto;
        width: 540px;
        padding: 16px 32px;
        
    }
    #seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up #resultado-final .mensaje-final{
        font-size: 38px;
    }
    #seleccionar-ataque .seleccionar-ataque-article #boton-fuego{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article #boton-agua{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article #boton-tierra{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article .subtitulo{
        font-size: 22px;
        padding-top: 0;
        padding-bottom: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article .botones-ataque{
        gap: 48px;
        padding-top: 0;
        padding-bottom: 32px;
    }
    #boton-reiniciar{
        padding: 0px 16px;
        font-size: 16px;
    }
    #seleccionar-ataque .paneles-ataque{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador{
        width: 220px;
        padding: 16px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .vidas-jugador{
        font-size: 64px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .nombre-mascota-jugador{
        font-size: 22px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .resultado-jugador{
        font-size: 16px;
    }
    #seleccionar-ataque .paneles-ataque .versus{
        padding: 16;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }
    
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo{
        width: 220px;
        padding: 16px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .vidas-enemigo{
        font-size: 64px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .nombre-mascota-enemigo{
        font-size: 22px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .resultado-enemigo{
        font-size: 16px;
    }
}

@media(max-width: 576px){
    #seleccionar-ataque .titulo{
        font-size: 36px;
    }
    #seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up{
        margin: 0 auto;
        width: 320px;
        padding: 8px 16px;
        
    }
    #seleccionar-ataque .seleccionar-ataque-article .seleccionar-ataque-article-up #resultado-final .mensaje-final{
        font-size: 22px;
    }

    #seleccionar-ataque .seleccionar-ataque-article .subtitulo{
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 16px;
    }
    #seleccionar-ataque .seleccionar-ataque-article .botones-ataque{
        gap: 6px;
        padding-top: 0;
        padding-bottom: 8px;
    }
    #boton-reiniciar{
        padding: 0px 16px;
        font-size: 14px;
    }
    #seleccionar-ataque .paneles-ataque{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 6px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador{
        width: 160px;
        padding: 0px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .vidas-jugador{
        font-size: 32px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .nombre-mascota-jugador{
        font-size: 18px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-jugador .resultado-jugador{
        font-size: 14px;
    }
    #seleccionar-ataque .paneles-ataque .versus{
        display: none;
    }
    
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo{
        width: 160px;
        padding: 0px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .vidas-enemigo{
        font-size: 32px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .nombre-mascota-enemigo{
        font-size: 18px;
    }
    #seleccionar-ataque .paneles-ataque .div-ataque-enemigo .resultado-enemigo{
        font-size: 14px;
    }
}