/* VARIABLES */

    /* MAIN COLORS */
    $white: #F9F9F9;
    $gray: #DED5C4;
    $orange: #EF7E56;
    $blue: #305973;

    /* EFFECT COLORS */
    $effect-red: #DA4040;
    $effect-orange: #EF7E32;
    $effect-blue: #4090DA;
    $buttons-blue: #112F58;

    /* Font Sizes */
    $maintitle: 9.6em;
    $title: 4.8em;
    $sub-title: 3.2em;
    $txt-xl: 2.4em;
    $txt-l: 2.2em;
    $txt-m: 2em;
    $txt-s: 1.8em;
    $txt-xs: 1.6em;
    $caption: 1.4em;

    /* Spacings */
    $space-xl: 12.8rem;
    $space-l: 6.4rem;
    $space-m: 3.2rem;
    $space-s: 1.6rem;
    $space-xs: 0.8rem;
