.header{
    padding: $space-l 0;
    .header__title{
        font-family: 'Bungee Shade', cursive;
        font-size: $title-xl;
        color: $white;
        text-align: center;
        line-height: 1;
    }
}
